@import "../utils/variables";
@import "../utils/mixin";

.collapse-bloc {
  width: 100%;
  @include flex-column;
}
//Bouton
.collapse-btn {
  width: 100%;
  height: 30px;
  padding: 0 1.53% 0 3.44%;
  background: $color;
  z-index: 1;
  border-radius: 5px;
  @include flex-row;
  justify-content: space-between;
  align-items: center;

  @include break-point(tablet) {
    height: 47px;
    padding: 0 2.94% 0 1.77%;
  }
  // Btn title
  &-title {
    color: #fff;
    font-size: 13px;
  }
  &-icon {
    width: 18.42px;
    height: 18.42px;
    @include break-point(tablet) {
      width: 20.92px;
      height: 20.92px;
    }
    @include break-point(desktop) {
      width: 28.92px;
      height: 28.92px;
    }
  }
}

//Contenue
.collapse-content {
  min-height: 143.32px;
  margin: -5px 0;
  padding: 23px 12px 19px;
  border-radius: 5px;
  background: $bg-color;
  @include break-point(tablet) {
    min-height: 249px;
    padding: 36px 27px 19px 18px;
  }
}

////// Active
/// Rotation Icone Bouton
.collapse-btn-icon-active {
  width: 18.42px;
  height: 18.42px;
  transform: rotate(180deg);
  @include break-point(tablet) {
    width: 28.92px;
    height: 28.92px;
  }
}
///Caché le Contenue
.collapse-content-active {
  visibility: hidden;
  height: 0;
}
