@import "../utils/variables";
@import "../utils/mixin";

.hostInfos {
  width: 135.5px;
  height: 33px;
  @include flex-row;
  justify-content: flex-end;
  align-items: center;
  @include break-point(desktop) {
    min-width: 167px;
    height: 64px;
  }

  &-name {
    font-size: 12px;
    line-height: 142.6%;
    text-align: end;
    padding-right: 10px;
    @include break-point(desktop) {
      font-size: 18px;
      text-align: end;
    }
  }
  &-picture {
    width: 32px;
    height: 32px;

    border-radius: 50%;
    background: #c4c4c4;
    @include break-point(desktop) {
      width: 64px;
      height: 64px;
    }
  }
}
