@import "../utils/variables";
@import "../utils/mixin";

.HouseCard {
  width: 100%;
  height: 255px;
  border-radius: 10px;
  position: relative;
  font-size: 18px;
  @include break-point(tablet) {
    height: 340px;
  }
  @include break-point(desktop) {
    width: 340px;
  }
  &-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  &-title {
    width: 100%;
    height: 100%;
    padding: 188px 50px 15px 20px;
    background: $degraded;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    word-break: break-word;

    color: #fff;
  }
  &:hover {
    box-shadow: $shadow;
  }
}
