@import "../utils/variables";
@import "../utils/mixin";

.houseTitle {
  @include flex-column;
  @include break-point(desktop) {
  }
  &-title {
    font-size: 18px;
    line-height: 25.67px;
    padding-bottom: 5px;
    @include break-point(desktop) {
      font-size: 36px;
      line-height: 51.34px;
    }
  }
  &-location {
    font-size: 14px;
    line-height: 19.96px;
    @include break-point(desktop) {
      font-size: 18px;
      line-height: 51.34px;
    }
  }
}
