@import "../utils/variables";
@import "../utils/mixin";

.houseInfos {
  width: 100%;
  @include flex-column;
  justify-content: space-between;
  @include break-point(tablet) {
    min-height: 101px;
  }
}
