@import "../utils/variables";
@import "../utils/mixin";

.rating {
  width: 98px;
  @include flex-row;
  justify-content: space-between;

  @include break-point(tablet) {
    width: 124px;
  }
  @include break-point(desktop) {
    width: 196px;
  }
  &-star {
    & svg {
      width: 18px;
      height: 18px;

      @include break-point(tablet) {
        width: 24px;
        height: 24px;
      }
      @include break-point(desktop) {
        width: 36px;
        height: 36px;
      }
    }
  }
}
