@import "../utils/variables";
@import "../utils/mixin";

.Tag {
  width: 115px;
  border-radius: 10px;
  background: $color;
  box-shadow: $shadow;
  @include break-point(mobile) {
    width: 84px;
    height: 18px;
    border-radius: 5px;
  }

  &-name {
    font-size: 14px;
    padding: 3px;
    @include flex-center;
    color: white;
    @include break-point(mobile) {
      font-size: 10px;
      padding: 0;
    }
  }
}
