@import "../utils/variables";
@import "../utils/mixin";

.Tag {
  width: 84px;
  height: 18px;
  border-radius: 10px;
  box-shadow: $shadow;
  background: $color;
  @include break-point(tablet) {
    width: 115px;
    height: 25px;
  }
  &-name {
    font-size: 10px;
    @include flex-center;
    color: white;
    @include break-point(tablet) {
      font-size: 14px;
      padding: 3px;
    }
  }
}
