@import "../utils/variables";
@import "../utils/mixin";

.tag-bloc {
  width: 100%;
  @include flex-row;
  flex-wrap: wrap;
  gap: 10px;
}
.tag {
  min-width: 84px;
  height: 18px;
  border-radius: 5px;
  background: $color;

  @include break-point(tablet) {
    min-width: 115px;
    height: 25px;
    border-radius: 10px;
  }
  &-name {
    height: 100%;
    padding: 0 5px;
    font-size: 10px;
    color: white;
    @include flex-center;
    @include break-point(tablet) {
      font-size: 14px;
      padding: 3px;
    }
  }
}
