@import "../utils/variables";
@import "../utils/mixin";

.Thumb {
  width: 340px;
  height: 392px;
  background: $color;
  border-radius: 10px;
  box-shadow: $shadow;
  &-img {
    height: 340px;
    border-radius: 10px;
    background: $degraded;
  }
  &-title {
    // width: 300px;
    height: 52px;
    padding-top: 3px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    padding: 2px 20px;
  }
}
