@import "../utils/mixin";
@import "../utils/variables";

.App-header {
  margin: 20px;
  @include flex-row;
  justify-content: space-between;
  @include break-point(tablet) {
    margin: 40px 40px 20px;
  }
  @include break-point(desktop) {
    margin: 40px 100px 20px;
  }

  &-logo img {
    @include break-point(desktop) {
      width: 210px;
      height: 68px;
    }
  }
}

.App-header-nav {
  margin: 17px 0;
  @include flex-center;
  justify-content: flex-end;

  & ul {
    @include flex-row;
    align-items: center;
  }
  &-link {
    font-size: 12px;
    margin-left: 10px;
    color: $color;
    @include break-point(tablet) {
      font-size: 20px;
      margin-left: 40px;
    }
    @include break-point(desktop) {
      font-size: 24px;
      margin-left: 57px;
    }
  }
  &-link:hover {
    border-bottom: 1px solid #ff6060;
  }
}
