@import "../utils/variables";
@import "../utils/mixin";

.app-main {
  margin: 0 20px 100px;
  @include flex-column;

  @include break-point(tablet) {
    margin: 0 40px 100px;
  }
  @include break-point(desktop) {
    margin: 0 100px 100px;
  }
}
