@import "../utils/variables";
@import "../utils/mixin";

.App-main {
  min-height: 812px;
  margin: 0 20px;

  @include break-point(tablet) {
    margin: 0 40px;
  }
  @include break-point(desktop) {
    min-height: 1024px;
    margin: 0 100px;
  }
}
