@import "../utils/variables";
@import "../utils/mixin";

#error-page {
  @include flex-column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  @include break-point(desktop) {
    margin-top: 169px;
    gap: 182px;
  }
}
.error-page {
  height: 162px;
  @include flex-column;
  align-items: center;
  justify-content: space-between;
  @include break-point(desktop) {
    height: 380px;
    margin: 0;
  }

  &-title {
    height: 99px;
    font-size: 96px;
    font-weight: 700;
    text-shadow: $shadow;
    @include flex-center;
    @include break-point(desktop) {
      height: 263px;
      font-size: 288px;
    }
  }
  &-msg {
    min-height: 52px;
    font-size: 18px;
    line-height: 35px;
    justify-content: center;
    @include break-point(desktop) {
      font-size: 36px;
    }
  }
  &-link {
    font-size: 14px;
    color: $color;
    @include break-point(desktop) {
      margin-bottom: 159px;
      font-size: 18px;
    }
  }
  &-link:hover {
    border-bottom: 1px solid $color;
  }
}
