@import "../utils/variables";
@import "../utils/mixin";

//Page home
.home {
  // min-height: 1095px;
  @include flex-column;
  gap: 20px;
  @include break-point(tablet) {
    gap: 43px;
  }
  @include break-point(desktop) {
    gap: 63px;
  }
}
//Section Banner
.home-section-banner {
  height: 111px;
  @include break-point(tablet) {
    height: 223px;
  }
}
//Section houseCard
.home-section-houseCard {
  border-radius: 25px;
  @include break-point(tablet) {
    background: $bg-color;
  }
}
.houseCard-container {
  margin: auto;

  @include flex-row;
  flex-wrap: wrap;
  gap: 20px;
  @include break-point(tablet) {
    justify-content: center;
    padding: 40px 0px;
  }
  @include break-point(desktop) {
    max-width: 1240px;
    padding: 56px 0px;
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    column-gap: 60px;
  }
}
