@import "../utils/variables";
@import "../utils/mixin";

.housing {
  @include flex-column;
  gap: 15px;
  @include break-point(desktop) {
    gap: 33px;
  }
}

////// Section Informations location
.housing-section-infos {
  width: 100%;
  min-height: 150px;
  @include flex-row;
  flex-wrap: wrap;
  @include break-point(tablet) {
    min-height: 101px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  @include break-point(desktop) {
    min-height: 128px;
  }
}
//Host infos
.housing-section-infos-host {
  width: 100%;
  min-height: 33px;
  @include flex-row;
  justify-content: space-between;
  align-items: center;

  @include break-point(tablet) {
    width: 20%;
    min-height: 101px;
    flex-direction: column-reverse;
    align-items: flex-end;
    @include break-point(desktop) {
      min-height: 128px;
    }
  }
}

////// Section Collapse
.housing-section-collapse {
  line-height: 17.11px;
  @include flex-row;
  flex-wrap: wrap;
  gap: 20px;
  @include break-point(tablet) {
    line-height: 25.67px;
    flex-wrap: nowrap;
    column-gap: 40px;
  }
  @include break-point(desktop) {
    column-gap: 76px;
  }
}
// Collapse btn
.housing-section-collapse .collapse-btn {
  @include break-point(tablet) {
    padding-left: 20px;
    &-title {
      font-size: 18px;
    }
  }
}
// Collapse conten
.housing-section-collapse .collapse-content {
  font-size: 12px;
  @include break-point(tablet) {
    font-size: 18px;
  }
}
