@import "../utils/variables";
@import "../utils/mixin";

.housing {
  min-height: 812px;
  margin-bottom: 100px;
  @include flex-column;
  gap: 15px;
}

//Informations location
.housing-section-infos {
  width: 100%;
  @include break-point(tablet) {
    height: 90px;
    @include flex-row;
    justify-content: space-between;
    align-items: center;
  }

  @include break-point(desktop) {
    height: 128px;
  }

  &-host {
    height: 100%;
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    @include break-point(tablet) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }
  }
}
