.Collapse {
  @include flex-column;
}

.Collapse-btn {
  padding: 6px 6px 6px 12px;
  color: #fff;
  background: $color;
  border-radius: 5px;
  z-index: 1;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background: darken($color, 2%);
  }
  &-title {
    font-size: 13px;
    //
  }
  &-icon img {
    // height: 15px;
    @include flex-center;
  }
}
.Collapse-content {
  &-list {
    margin: -5px 0;
    padding: 23px 12px 0;
    font-size: 12px;
    background: $bg-color;
    border-radius: 5px;
  }
}
.active .Collapse-list {
  background: red;
}
